footer {
    width: 100%;
    padding: 2%;
    background-color: #434343;
    grid-area: footer;

    p {
        font-family: $tipografia;
        font-weight: 200;
        color: white;
        text-align: center;
        font-size: 0.9rem;
    }

    .designedBy {
        :hover {
            color: #d9a2a2;
        }
    }
}